/*GENERAL*/

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 300px;
  margin: 10% auto;
}

h1 {
  text-align: center;
}

/*ELEMENTS*/

input#text-input {
  width: 100%;
}

ul#todo-items {
  list-style: none;
}

li {
  transition: color 0.5s;
}

li.completed {
  text-decoration: line-through;
  color: #DDDDDD;
}
