/*GENERAL*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background: #4B79A1; /* fallback for old browsers */
  background: linear-gradient(to left, #4B79A1 , #283E51);
}

.container {
  background-color: #f7f7f7;
  max-width: 360px;
  margin: 10% auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

h1 {
  color: white;
  background-color: #2980e9;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 20px;
}

/*INPUT*/

#create {
  color: #2980e9;
  font-size: 18px;
  line-height: 40px;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: none;
}

#create::-webkit-input-placeholder {
  color: #2980e9;
}

#create::-moz-placeholder {
  color: #2980e9;
}

#create:hover::-webkit-input-placeholder,
#create:focus::-webkit-input-placeholder {
  color: black;
}

#create:hover::-moz-placeholder,
#create:focus::-moz-placeholder {
  color: black;
}

#create:hover {
  color: black;
}

#create:focus {
  color: black;
  border: 2px solid #2980e9;
  outline: none;
}

/*TASKS*/

#tasks {
  list-style: none;
}

#tasks li {
  color: #666;
  height: 40px;
  line-height: 40px;
  transition: color 0.5s;
}

#tasks li:nth-of-type(even) {
  background-color: white;
}

#tasks li.completed {
  text-decoration: line-through;
  color: #DDDDDD;
}

#tasks li span {
  color: white;
  background-color: #e74c3c;
  opacity: 0;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  width: 0;
  margin-right: 16px;
  transition: 0.2s linear;
}

#tasks li:hover span {
  width: 40px;
  opacity: 1;
}
