/*GENERAL*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  background-color: #f7f7f7;
  max-width: 360px;
  margin: 10% auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

h1 {
  color: white;
  background-color: #2980e9;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 20px;
}

/*INPUT*/

#text-input {
  width: 100%;
}

/*LIST*/

#todo-items {
  list-style: none;
}

ul li {
  color: #666;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  transition: color 0.5s;
}

ul li:nth-of-type(even) {
  background-color: white;
}

ul li.completed {
  text-decoration: line-through;
  color: #DDDDDD;
}
